node_modules
npm-debug.log
.env
.env.local
.env.production
*.enc
*.mp4
*.log
storage
telegram-session.enc
.git
.gitignore
*.md
scripts
vps
deploy*.ps1
deploy*.sh
setup*.ps1
setup*.sh
fix*.ps1
fix*.sh
check*.js
check*.sh
prepare*.sh
*.example

